.reveal .full-height {
    height: 100%;
    max-height: unset;
}

.reveal .almost-opaque {
    opacity: 0.9;
}
.reveal .no-box-shadow {
    box-shadow: none;
    margin: 5px;
}

.no-title-case .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: unset !important;
}
